[submodule "Legal_Brief_Using_LaTeX"]
	path = Legal_Brief_Using_LaTeX
	url = https://github.com/gkochans/Legal_Brief_Using_LaTeX/
[submodule "brewbaker-lawtex"]
	path = brewbaker-lawtex
	url = https://github.com/chadbrewbaker/lawtex
[submodule "lawtex-quantlaw"]
	path = lawtex-quantlaw
	url = https://github.com/QuantLaw/lawtex
